.masterContainer {
    padding: 5em;
    display: flex;
    justify-content: center;
    
}

button {
    background-color: whitesmoke;
    width: 10em;
    border-radius: 20%;
}

.instruction {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    font-size: 30px;
    border-style: ridge;
}

/*grid-template columns: repeat(= number of chosen rows)*/

.container {
    font-size: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-style: solid;
    width: 400px;
    height: 400px;
}


/*Font size for gridItem needs to be equal to (height of container divided by number of rows) in px*/

.gridItem {
    font-size: 100px;
    height: 1em;
    width: 1em;
    /*border-radius: 5%;*/
    
    
}

.container .clicked {
    /*background-color: blue;*/
    background-color: white;
}

.unclicked {
    background-color: white;
}


.hightlighted {
    background-color: yellowgreen;
}


label {
    font-size: 15pt;
}

#currentSelectedColor {
    background-color: black;
}


#toggleInstructions {
    font-size: 10pt;
    font-style: italic;
}

.currentColorWords {
    font-size: 15pt;
    font-style: italic;
}